 <div>
        <div class="row">
            <h2>{{ task.summary }}</h2>
        </div>
        <div class="row">
            <p>Status: {{ task.status }}</p>
        </div>
        <div class="row">
            {% if task.deadline %}
                <p>Deadline: {{ task.deadline }}</p>
            {% endif %}
        </div>
        <div class="row">
            <a href="{% url 'update_task' task.pk %}">edit...</a>
            <a href="{% url 'detailed_task' task.pk %}">more...</a>
            <a href="{% url 'delete_task' task.pk %}">delete...</a>
        </div>
        <hr>
    </div>