<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Title</title>
</head>
<body>
<div class="container">
<h1>Create Task</h1>
    <form action="" method="POST">
        {% csrf_token %}

        <label>Description: <input class="form-control input-lg" type="text" name="description"/></label><br/>

        <label>Status: <select name="status" id="status">
            <option value="new">New</option>
            <option value="in_process">In Process</option>
            <option value="done">Done</option>
        </select></label><br/>

        <label>Deadline: <input type="date" id="deadline" name="deadline"></label><br/>
        <br/>
        <input class="btn btn-primary" type="submit" value="Send"/>
    </form>
</div>

</body>
</html>