{% extends "base.html" %}

{% block title %} All Tasks {% endblock %}

{% block content %}
    {% for task in tasks %}
        <div>
            <div class="row">
                <h2>{{ task.description }}</h2>
            </div>
            <div class="row">
                <p>Status: {{ task.status }}</p>
            </div>
            <div class="row">
                {% if task.deadline %}
                    <p>Deadline: {{ task.deadline }}</p>
                {% endif %}
            </div>
            <div class="row">
                <a href="#">edit...</a>
                <a href="{% url "detailed_task" task.pk %}">more...</a>
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}