{% extends "base.html" %}

{% block title %} All Projects {% endblock %}

{% block content %}
    <h1 class="mt-4">Projects:</h1>
    {% for project in projects %}
        <div>
            <div class="row">
                <h2>{{ project.name }}</h2>
            </div>
            <div class="row">
                <p>{{ project.specification }}</p>
            </div>
            <div class="row">
                {% if project.start_date %}
                    <p>Start date: {{ project.start_date }}</p>
                {% endif %}
            </div>
            <div class="row">
                {% if project.project_deadline %}
                    <p>Start date: {{ project.project_deadline }}</p>
                {% endif %}
            </div>
            <div class="row">
                {#                <a href="{% url 'update_task' task.pk %}">edit...</a>#}
                <form action="{% url 'detailed_project' project.pk %}">
                    <input class="btn btn-outline-secondary mt-1 btn-sm" type="submit" value="more..."/>
                </form>
                {#                <a href="{% url 'delete_task' task.pk %}">delete...</a>#}
            </div>
            <hr>
        </div>
    {% endfor %}
{% endblock %}