{% extends "base.html" %}

{% block title %} Task: {{ task.description }} {% endblock %}

{% block content %}
    <div>
        <h1>Delete the task? This action can't be undone. </h1>
    </div>

    <div class="row">
        <h2>{{ task.description }}</h2>
    </div>
    <div class="row">
        <p>Status: {{ task.status }}</p>
    </div>
    <div class="row">
        {% if task.deadline %}
            <p>Deadline: {{ task.deadline }}</p>
        {% endif %}
    </div>
    <div class="row">
        {% if task.deadline %}
            <p> Created at: {{ task.created_at }}</p>
        {% endif %}
    </div>
    <div class="row">
        {% if task.deadline %}
            <p> Updated at: {{ task.updated_at }}</p>
        {% endif %}
    </div>
    <div class="row">
        <p>Detailed description: {{ task.detailed_description }}</p>
    </div>
    <div class="row">
        <form action="{% url 'confirm_delete_task' task.pk %} " method="POST">
            {% csrf_token %}
            <input class="btn btn-outline-danger mt-5" type="submit" value="YES">
            <a class="btn btn-primary mt-5" href="{% url 'index' %}" role="button">NO</a>
            <a class="btn btn-outline-secondary mt-5" href="{% url 'update_task' task.pk %}">Edit</a>
        </form>
    </div>
{% endblock %}